<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <title>{% block title %}Login{% endblock %}</title>

</head>
<style>
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
      h1 {  
	  font-family: "Roboto", sans-serif;
	  text-align: center;
	  }
	  .form {
	   font-family: "Roboto", sans-serif;
       background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
 .error {
 text-align: center;
 font-family: "Roboto",sans-serif;
 color: red;

 }

</style>
<body>
{% block body %}
    <h1><a href="{{ path('about') }}">About this Bike Tracker</a></h1>
	<div class="form">
    <form action="{{ path('login') }}" method="post">
        <label for="username">Username:</label>
        <input onClick="this.setSelectionRange(0, this.value.length)" type="text" id="username" name="_username" value="{{ last_username }}" />

        <label for="password">Password:</label>
        <input onClick="this.setSelectionRange(0, this.value.length)" type="password" id="password" name="_password" />

        {#
            If you want to control the URL the user
            is redirected to on success (more details below)
            <input type="hidden" name="_target_path" value="/account" />
        #}

        <button type="submit">login</button>
        {% if error %}
            <div class="error">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
    </form>
	</div>

{% endblock %}
</body>

</html>